body {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 30vh;
     font-family: 'Lucida Sans';
}

/** kutu sabitliği için width yükseltilebilir. */
.wrapper {
     box-shadow: 0 0 10px 2px;
     padding: 4px 20px;
     border-radius: 10px;
     width: 360px;
}

.data::after {
     content: "";
     background-color: rgb(122, 68, 246);
     padding: 2px 10px;
     border-radius: 4px;
     color: #ffffff;
     animation: carousel 5s infinite alternate;
     text-transform: capitalize;
}

/** tekrar fuat yazmamızın nedeni ekranda takipte duraksama olmaması adına  */
@keyframes carousel {
     0% {
          content: "Fuat";
     }

     25% {
          content: 'ahmet';
     }

     50% {
          content: 'Demir';
     }

     75% {
          content: "mehmet";
     }

     100% {
          content: "fuat";
     }
}